{% extends "league_history/layout.html" %}

{% block body %}         
    <h1>{{username}} Leagues ({{league_count}} Active)</h1>
    {% for league in leagues %}
        <div>
            <h2>{{league.name}}</h2>
            {% if league.avatar is not None %}
                <img src="https://sleepercdn.com/avatars/thumbs/{{league.avatar}}" alt="{{league.name}}_logo">
            {% endif %}
        </div>
        <ol>
            {% for place in league.standings %}
                {% if place == username %}       
                    <li><b>{{place}}</b></li>
                {% else %}
                    <li>{{place}}</li>
                {% endif %}
            {% endfor %}
        </ol>
    {% endfor %}
{% endblock %} 